p {
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial;
	background-color: #444444;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	
		.container {
			width: 400px;
			height: 475px;
			background-color: white;
			border-radius: 15px;
			display: flex;
			align-items: center;
			justify-content: center;

			.timer {
				width: 85%;
				height: 85%;
				display: flex;
				justify-content: space-between;
				flex-direction: column;
				
				.header {
					width: 100%;
					display: flex;
					align-content: center;
					justify-content: space-between;
				}
				
				.center {
					display: flex;
					justify-content: center;
					transform: rotate(-90deg);
					
					.path {
						stroke-dasharray: 1000;
						stroke-dashoffset: 1000;
						animation: dash 5s linear alternate infinite;
					}
					
					@keyframes dash {
						from {
							stroke-dashoffset: 1000;
						}
						to {
							stroke-dashoffset: 0;
						}
					}
					
				}
				
				.footer p {
					font-size: 12px;
					text-align: center;
				}
			
			}
		}
	}
	

